



body {
   max-width: 100vw;
  overflow-x: hidden; 
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.logo-color {
  color: #064EA4;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.42px;

}


.navbar-nav {
  gap: 100px; 
}

.element1 {
  width: 121px; /* Hug (121px) Width */
  height: 44px; /* Hug (44px) Height */
  padding: 10px 20px 12px 20px;  
  gap: 10px; /* Gap 10px (adjust as needed) */
  background-color: #FCDF69;
}

.element2 {
  width: 124px; /* Hug (121px) Width */
  height: 44px; /* Hug (44px) Height */
  padding: 10px 20px 12px 20px;  
  gap: 10px; /* Gap 10px (adjust as needed) */
  background-color: #F99D76;
}

.gap-6 {
  gap: 0.625rem;
}

.custom-font {
  /* font-family: "Helvetica Neue", sans-serif; */
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 19.54px;
}

.custom-font2 {
  /* font-family: "Helvetica Neue", sans-serif; */
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 24px;
}

.custom-font3 {
  /* Elevate your career */

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 66px;
line-height: 150%;
letter-spacing: -1px;

color: #FFFFFF;

}



/* .navbar-nav > .nav-item:last-child {
  margin-right: 0;
}  */



.banner {
  height: 674px;
  background-color: #064EA4;
  position: relative;
}

.dropdown-toggle{
  color: #064EA4 !important;
  padding-top: 5px !important;
}



.inputer2 {
/* Frame 10 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 20px;
gap: 10px;

width: 433px;
height: 62px;

background: #FFFFFF;
border-width: 1px 0px 1px 1px;
border-style: solid;
border-color: #CACACA;
border-radius: 30px 0px 0px 30px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


}

.button2 {
  /* Frame 12 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 10px;

width: 159px;
height: 62px;

background: #FCDF69;
border-radius: 0px 30px 30px 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.test {
  /* Ellipse 1 */

position: absolute;
width: 290px;
height: 290px;
left: 1200px;
top: 466px;

background: #FCDF69;

}